name: e2e-test

on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/e2e-test.yaml
      - internal/**
      - e2e_test/**
      - go.*
  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/e2e-test.yaml
      - internal/**
      - e2e_test/**
      - go.*

jobs:
  e2e-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.53.2
          working_directory: e2e_test
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - run: make -C e2e_test -j3
      - run: git config --global user.email ci@example.com
      - run: git config --global user.name ci
      - run: make -C e2e_test ci-publish-screenshot
        env:
          GITHUB_TOKEN: ${{ github.token }}
